<ion-header  text-center>
  <ion-toolbar>
    <ion-title>促销专区</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <img src="http://192.168.0.108:8083/tmp/344.jpg" height="170px">
    <ion-card-header>
      <ion-card-subtitle>五一黄金周亏本促销</ion-card-subtitle>
      <ion-card-title>狂野地带</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      优惠内容：满500减300，满200减20。
      满300就有抽奖机会，10万大奖等你拿。
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="http://192.168.0.108:8083/tmp/344.jpg" height="170px">
    <ion-card-header>
      <ion-card-subtitle>五一黄金周亏本促销</ion-card-subtitle>
      <ion-card-title>狂野地带</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      优惠内容：满500减300，满200减20。
      满300就有抽奖机会，10万大奖等你拿。
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="http://192.168.0.108:8083/tmp/344.jpg" height="170px">
    <ion-card-header>
      <ion-card-subtitle>五一黄金周亏本促销</ion-card-subtitle>
      <ion-card-title>狂野地带</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      优惠内容：满500减300，满200减20。
      满300就有抽奖机会，10万大奖等你拿。
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="http://192.168.0.108:8083/tmp/344.jpg" height="170px">
    <ion-card-header>
      <ion-card-subtitle>五一黄金周亏本促销</ion-card-subtitle>
      <ion-card-title>狂野地带</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      优惠内容：满500减300，满200减20。
      满300就有抽奖机会，10万大奖等你拿。
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="http://192.168.0.108:8083/tmp/344.jpg" height="170px">
    <ion-card-header>
      <ion-card-subtitle>五一黄金周亏本促销</ion-card-subtitle>
      <ion-card-title>狂野地带</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      优惠内容：满500减300，满200减20。
      满300就有抽奖机会，10万大奖等你拿。
    </ion-card-content>
  </ion-card>

</ion-content>
