<ion-view  view-title="HOT">
  <ion-nav-bar class="bar-light has-tabs-top" >
    <ion-nav-buttons side="left">
      <a class="button button-clear button-dark item top_button_padding" >
        <i class="ion-ios-search fill-icon"></i>
      </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" >
      <a class="button button-clear button-dark item top_button_padding" ng-click="update_location()">
        <i class="ion-ios-location-outline fill-icon" ></i>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
    <div ng-include="'templates/base_location_info.html'"
         ng-controller="LocationInfoCtrl">
    </div>
  <ion-content delegate-handle="goods_list_content" on-scroll="goods_list_scroll_action()">

    <ion-refresher
      pulling-text="pull reflesh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div>

      <div class="pull-left" style="width:50%"  ng-repeat="goods_item in all_goods">
        <a class="full-image"  href="#/goods/detail/15" class="pull-left">
        <div class="row" >
          <div class="col">
            <img class="full-image" src="{{goods_item['first_picture']}}">
            <div  class="text-muted item-divider-android line-clamp-2" style="height: 40px;">
              {{goods_item['goods_name']}}
            </div>
            <div class="h6">
              <div class="assertive pull-left" >
                ${{goods_item['goods_price']}}
              </div>
              <div class="pull-right text-muted">
                Distance:{{goods_item['distance']}}
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="clearfix">
      </div>
      <div ng-hide="hideNotMoreGoodsTips()">
        <div ng-include="'templates/common/no_page_more_tips.html'"></div>
      </div>
      <ion-infinite-scroll
        ng-if="moreHotGoodsCanBeLoaded()"
        on-infinite="loadMoreHotGoods()"
        distance="1%">
      </ion-infinite-scroll>
    </div>





  </ion-content>


</ion-view>

