<ion-header  text-center>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>附近店铺</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSearchModal()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新定位"
      refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item-divider color="light" justify-content-center *ngIf="search_word_dispaly === true" class="ion-padding-end ">
      <ion-label>
        搜索关键词:{{search_word}}
      </ion-label>
      <ion-icon color="danger" (click)="clearSearch()" slot="end" name="close-circle-outline"></ion-icon>
  </ion-item-divider>

  <ion-card *ngFor="let shop_info of shop_list "  [routerLink]="['/shop']" [queryParams]="{id:shop_info.shop_id}" >
    <img [src]="shop_info.pic_url" height="170px">

    <ion-card-header>
      <ion-card-subtitle>{{shop_info.address_display}}</ion-card-subtitle>
      <ion-card-title>{{shop_info.shop_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{shop_info.shop_profile}}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="no_more === false" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row class="ion-text-center ion-padding" *ngIf="no_more === true" >
    <ion-col width-100 center>
      <ion-label color="danger">
        没有更多了！
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center ion-padding" *ngIf="search_nothing === true" >
    <ion-col width-100 center>
      <ion-label color="danger">
        搜索不到附近店铺！
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center ion-padding" *ngIf="near_no_shop === true" >
    <ion-col width-100 center>
      <ion-label color="danger">
        附近没有店铺，您可以前往个人中心扩大范围半径！
      </ion-label>
    </ion-col>
  </ion-row>

</ion-content>
